[2022-06-25 11:20] ktye opened #656 "i64.extend_i32_u does signed shift on globals"
Extending a global i32 returns a wrong result in the **compiled** version, the interpreter is correct.

This is go1.18.3 windows/amd64 with the current wazero 1489a9f19f39.

f.wat:
[code]

main.go:
[code]

**output**:
[code]

[2022-06-26 02:08] mathetake commented on #461
I think this needs to be resolved to support #618

[2022-06-27 00:58] mathetake commented on #656
Thank you @ktye agan for finding a bug! https://github.com/tetratelabs/wazero/pull/658 will fix this!

[2022-06-27 01:30] #656 closed

[2022-06-27 09:39] ktye opened #661 "success and benchmarks"
With the 2 latest fixes i can run my k interpreter both interpreted and compiled! Thank you, that is great.

k.wasm uses bulk-memory, multi-value and simd instructions.

See [wa0](https://github.com/ktye/i/tree/master/wa0) for the source and build instructions.
Here are some some early timings for different versions:

# benchmarks
[code]
# remarks

- the Go version uses a single byte slice for hea

[2022-06-27 17:11] grokify opened #662 "Ability/example to implement custom host functions defined by WITX"
**Is your feature request related to a problem? Please describe.**

I'm interested in implementing custom host functions defined via WITX in wazero, which can be accessed by a Wasm guest.

The host function WITX files for this project are from the Fastly Compute@Edge ABI defined here. This is currently implemented on a Rust runtime and it would be great to have this implemented on the wazero zero

[2022-06-27 19:18] ktye commented on #661
time until instantiation takes 112 ms
runtime after instantiation is 1.18s.
The module is only 60k and compiles quickly.
Maybe it's slow because it does a lot of calls into the go function (it calls write, after each unit-test).

anyway that was just for information, so i'm closing it.

[2022-06-27 23:55] codefromthecrypt commented on #662
quick context for starters.

* Host function signatures map directly to wasm signatures, so first step is to get a format to map to that (ex via %.wat)
* As far as I know, the witx format is deprecated for another format. ex https://github.com/WebAssembly/wasi-nn/pull/17
* I don't think user-defined types is the concern here as the same issue occurs in wasi even if they switched off witx mostly.

[2022-06-28 00:00] codefromthecrypt commented on #662
@aturon Do you know any plans for fastly and witx vs its successor? Also, it would be nice to be able to support this API even regardless of what might be migrating in terms of ABI formats. If you know something that can dump the ABI as %.wat imports I can help guide a manual impl meanwhile.

[2022-06-28 00:03] codefromthecrypt commented on #661
thanks for the context, we are probably missing a benchmark on host function overhead with regards to tools that use a lot of them.

[2022-06-28 06:32] grokify commented on #662
Thanks for the reply @codefromthecrypt! I've actually been looking WITX-Codegen. It doesn't support Go yet but could be useful for implementing a Go Codegen as it already handles WITX parsing. I believe what needs to be done is to implement a few by hand to understand what the mapping looks like and then implement Go language support in WITX-Codegen. I've done some work with a code gen tool for RE

[2022-06-28 07:29] codefromthecrypt commented on #662
If it helps on the manual side, we had to manually do wasi which is defined in witx https://github.com/WebAssembly/WASI/tree/snapshot-01/phases/snapshot/witx

We made some notes here https://github.com/tetratelabs/wazero/blob/main/wasi_snapshot_preview1/wasi.go#L433-L460 but generally wasi was easier because you could also look at a %.wat file of which there are numerous copies.

Another way is to

[2022-06-28 11:07] olivierlemasle opened #665 "failed to compile: invalid register [nil]"
**Describe the bug**
Wazero fails to compile a wasm module I've compiled from Rust, which is compiled and executed successfully with Wasmtime and Wasmer.

**To Reproduce**
wasm module: https://github.com/olivierlemasle/wasm-text2png/releases/download/v0.1.0/wasm-text2png.wasm
It is a WebAssembly+WASI module compiled from Rust; its source code is in https://github.com/olivierlemasle/wasm-text2png (

[2022-06-28 11:49] codefromthecrypt commented on #665
ps if you want to make sure things work otherwise, switch to `NewRuntimeConfigInterpreter()` temporarily until the fix is in!

[2022-06-28 11:53] mathetake commented on #665
OK found the root cause (I had the wrong assumption on register allocation which are both applied on amd64 and arm64). Will raise an fix shortly!

[2022-06-28 12:07] olivierlemasle commented on #665
Thank you @mathetake (for the fix and for the work on this project!)

[2022-06-28 12:20] codefromthecrypt commented on #633
sorry it took me so long, call-indirect was a red-herring, the bug was about the initial function signature.  #640

[2022-06-28 22:47] #633 closed

[2022-06-29 00:26] #665 closed

[2022-06-29 22:13] munrocket commented on #544
Rust is [support](https://rustwasm.github.io/wasm-bindgen/reference/reference-types.html) reference types and it uses externref.

This examples not theoretical, JS glue become much smaller with it, also interoperation overhead become smaller. Interop is the main bottleneck in WebAssembly, that is why externref and reference types are so important.

[2022-06-30 05:25] codefromthecrypt commented on #607
haven't forgotten this. I will merge it while takeshi is afk next week :D

[2022-06-30 05:30] codefromthecrypt commented on #662
I'll make time over the next week to make a sample thing for this maybe in a personal repo. then we can decide what next later (ex if @grokify or fastly want to own this)

[2022-06-30 05:33] mathetake commented on #461
Oh I realized that this won't be needed as TypeID is not embedded in the binary but rather embedded in function instance at instantiation phase... closing again...

[2022-06-30 05:33] #461 closed

[2022-06-30 05:35] mathetake commented on #618
I think all is set to implement the externalization of compiled native code...

[2022-06-30 05:44] mathetake commented on #618
one thing we have to figure out is that how to do the version/invalidation; if the internal of the compilers change, the compiled module won't work with the latest version of wazero.  Therefore, we have to know if the compiled module binary's version (version of wazero) matches the one of running wazero's version. Maybe embedding commit hash into the global variable helps in general if wazero is t

[2022-06-30 05:48] codefromthecrypt commented on #618
ack we need to look at existing VMs and how they do bytecode validation and to what degree this applies to us. Especially we shouldn't commit to a serialization mechanic prior to aug-31 which is our first beta, but that doesn't prevent experimentation before that.

[2022-07-01 06:33] codefromthecrypt commented on #607
testing is very slow, but this works. However, I have no means to test freebsd+arm64 https://github.com/tetratelabs/wazero/pull/671

[2022-07-01 07:56] codefromthecrypt commented on #607
https://github.com/tetratelabs/wazero/pull/671 has a glitch which is I can't recreate the failure locally. Also the test setup is brittle as vagrant rate-limits us. I'm tempted to use travis to verify if there's actually a real issue or not.

[2022-07-01 10:59] #607 closed

[2022-07-01 10:59] codefromthecrypt commented on #607
looks like @mathetake's eagle eyes saved the day!

[2022-07-01 13:07] clarkmcc commented on #618
@mathetake the challenge with the commit hash approach is that it will change, requiring re-serialization even if the compiler internals did not change. This project is currently pushing several commits a day. Changes to the ARM compiler for example would not need to impact modules compiled for x86 (not sure if that's even a legitimate example, but you get the idea).

Obviously, the harder problem

[2022-07-01 23:02] codefromthecrypt commented on #618
good points, @clarkmcc. I also don't believe a commit hash approach would work unless stable tags are in use (ex monthly tags starting end of august), and even then I think we may end up needing something more fine tuned than that

I plan to add some research here as well as the problem isn't unlike other tools with compilation cache regardless of webassembly. I'll also have a look at the links yo

[2022-07-01 23:50] codefromthecrypt commented on #618
To be transparent about current thinking and to not block others doing it :)

First, if someone can profile what's taking the longest for their code, if possible, as there are multiple stages. For example, the code is parsed and converted to wazeroir (which should become more stable since we have all 2.0 features now). That's is an easier thing to cache if a problem, though it varies on the featur

[2022-07-02 00:35] codefromthecrypt commented on #637
This can also help in error checking. Ex if CompiledModule exposes which functions it exports, you aren't going to get nil for that post-instantiation.

[2022-07-03 20:27] dranikpg commented on #512
Hi @mathetake!
One more valuable source must be GOlangs memmove implementation: https://go.dev/src/runtime/memmove_amd64.s
It has some comments on why particular decisions where made.
I've made some x86 experiments today on my own to find a fast and easy to implement memcpy function. You can check the sources out at https://github.com/dranikpg/memcpy-perf-research/.

Wazero currently uses a simple

[2022-07-05 03:23] codefromthecrypt commented on #601
ps I've verified this builds and ends up with the following imports

[code]

[2022-07-05 09:47] codefromthecrypt commented on #601
@inkeliz I'm probably doing something stupid, but regardless of if the memory growth param is set, when I compile the above example, it invariably results in unreachable.

ex without optimization
[code]

Were you able to successfully compile and run a main function using emcc like above?

[2022-07-05 09:56] codefromthecrypt commented on #601
I added the `--profiling` arg and looks like this is during exit.

[code]

I'll look into this tomorrow unless someone has run into this before and knows what's up.

[2022-07-05 10:01] codefromthecrypt commented on #601
oh wow. looks like emscripten wants to not be able to return from exit!

https://github.com/emscripten-core/emscripten/issues/12322#issuecomment-698501327

This is a separate issue we'll need to decide to panic by default or via config cc @anuraaga @mathetake

[2022-07-05 12:58] inkeliz commented on #601
I don't remember to have this issue before, but I didn't test it recently. :S

[2022-07-06 22:53] codefromthecrypt commented on #619
I'll add it to the README. good idea

[2022-07-06 22:57] codefromthecrypt commented on #619
sorry I meant to say I'll add a how to into the README as I think primarily pointers were missing in how to find rust stuff. Rust is the most over served language in WebAssembly, most maintained, most docs, most control, most people working on it.

Basically, I think with pointers to rust projects and also to our other rust example, should be good enough, especially with WASI as it *should* act th

[2022-07-06 23:08] codefromthecrypt commented on #619
Actually the release build using `cargo wasi build --release` isn't looking so bad. If this ends up <100k and still works, I'll add it in and say that this is an optimized version of `cargo build --release --target wasm32-wasi`

[2022-07-07 00:22] codefromthecrypt commented on #619
okie dokie.. better late than never @clarkmcc! https://github.com/tetratelabs/wazero/pull/676

[2022-07-07 01:53] clarkmcc commented on #619
@codefromthecrypt thanks! Sorry for not getting around to rolling an example. Things got chaotic on my side, as always 🙄.

[2022-07-08 05:12] grokify commented on #662
@codefromthecrypt I've been chatting with the team at Fastly and it may make sense to wait a bit before digging into this.

[2022-07-11 11:42] mathetake commented on #512
Sorry I was ooo until yesterday so will get back and reply soon!

[2022-07-12 00:33] mathetake commented on #512
@dranikpg thank you for taking your time to do some research on it.

So it's possible to implement the fastest memcpy if we have `REP` and `MOVSX`?  Adding new instructions is fairly easy and straightforward, plus we already have `MOVSX` kinds [here](https://github.com/tetratelabs/wazero/blob/14d892d31002a6976d8656b0a15ca0152f098a66/internal/asm/amd64/consts.go#L162-L186) as `MOV__SX` where __ is

[2022-07-12 03:21] #637 closed

[2022-07-12 07:39] dranikpg commented on #512
Great. It's fastest for lengths over 128 bytes. I cannot estimate, what lengths will be used more often then others.

I'm keen to 😀 I'll open the first one in the coming days

[2022-07-12 07:44] mathetake commented on #512
cool, thanks! If the change will come with the refactoring, feel free to submit the separate PR before the actual optimization! See you later!

[2022-07-13 00:41] codefromthecrypt commented on #637
This will add even more data, particularly import info, which is available both before and after instantiation https://github.com/tetratelabs/wazero/pull/686

[2022-07-14 12:40] mmathys commented on #390
Does that mean that it is possible to write new files from Wasm?

I have tried using the `open` syscall in WASI for non-existing files with writing mode, but it fails.

[2022-07-14 23:40] codefromthecrypt commented on #390
@mmathys exactly. in fact this it is about time we got back to this one. if you don't mind, as it is usually interesting.. what's the use case you are working with that needs to open for writing? is it a log or config file? or are you sharing data?

[2022-07-16 02:23] codefromthecrypt commented on #637
FYI here's an example of checking things before you instantiate cc @prep

[code]

[2022-07-17 07:44] codefromthecrypt commented on #601
sorry took so long @inkeliz https://github.com/tetratelabs/wazero/pull/678

[2022-07-17 23:51] #601 closed

[2022-07-18 08:49] prep commented on #637
Awesome! Thanks for this @codefromthecrypt ❤️ I'll have a look at this in the upcoming week.

[2022-07-20 14:46] grokify commented on #662
@codefromthecrypt The Fastly team would love to help and see this happen. Please reach out to Damian Gryski ([`dgrysk`i](https://github.com/dgryski)) on the Gopher's Slack channel.

[2022-07-20 23:13] codefromthecrypt commented on #662
will do. I was actually cleaning house on our existing built-in imports in preparation, so you read my mind!

[2022-07-21 07:10] mathetake commented on #662
_me thinking this is really exciting_

[2022-07-25 01:57] mathetake commented on #426
`go fmt` has started auto-formatting Godoc by default https://github.com/tetratelabs/wazero/commit/a3514016ed03c0f7b4b1d2125599ed147a55c804

[2022-07-27 05:40] gedw99 commented on #635
There is a golang compiler that compiles to WASM. The golang compiler itself compiles to WASM.

mots called hackpad. It’s currently working but a little slow.

https://github.com/hack-pad/hackpad

the code lives on a file system inside the browser. See: https://github.com/hack-pad/hackpadfs

There is even an ide and terminal

[2022-07-28 21:38] dranikpg commented on #512
I've done some research on memset.

The bad news is, its harder than I thought to get it right 🥲. The good news is, there are really huuuge performance improvements possible. I've updated [my repo](https://github.com/dranikpg/memcpy-perf-research/) with the assembly sources.

![Screenshot_20220729_001651](https://user-images.githubusercontent.com/20553775/181638959-1bdedc63-83fb-4ede-851a-f61598c3

[2022-07-28 21:49] dranikpg commented on #512
One more question I have is that the current table fill implementation doesn't work as expected with non-zero fill values (but I guess nobody would fill a table with non-zero values?).

Particularly,
https://github.com/tetratelabs/wazero/blob/c5daf5a218439489fa2ffe5a0f719b720036adc4/internal/engine/compiler/impl_amd64.go#L3843-L3844

it doesn't replicate the fill byte onto the full register, so 7/

[2022-07-31 08:30] gedw99 commented on #662
There is also this Witz alternative with multi language support.

https://github.com/inkeliz/karmem#motivation

I used it with Wazero for a prototype for a test project. It’s very easy to use and very fast - see benchmarks.

for Wazero you get the advantage of no cgo and no complexity like what you..

[2022-08-07 14:17] knqyf263 opened #738 "Add Zig example"
Do you think it would be worthwhile to maintain an example of Zig in the wazero repository? I extended the allocation example for Zig. I can open a PR if you have an interest. Please feel free to close the issue if it is not the case.
https://github.com/knqyf263/zig-wasm-example

[2022-08-07 23:24] codefromthecrypt commented on #738
I think so. I've also at times ad-hoc defined a zig project.

Please raise a PR and also don't forget to update the GitHub examples workflow and the Makefile accordingly!

[2022-08-09 07:42] knqyf263 commented on #738
Thanks for confirming. I opened #741.

[2022-08-11 08:31] #738 closed

[2022-08-11 08:38] codefromthecrypt commented on #390
@ncruces noted in #740 that there's a corner case in the io.Reader docs hard to reason with when mapping to io.Reader based implementation of fdread

https://pkg.go.dev/io#Reader

The "process the n > 0 bytes returned before considering the error err" ends up a bit dodgy as you have a choice to ignore that part or create expense by holding per-fd state to return the error when >n bytes are read.

[2022-08-11 10:04] ncruces commented on #390
Looking at the issue and current implementation, I don't think there's anything missing from `wazero` in this regard.

For instance, if you use `os.DirFS` you'll get a read-only view into a directory and, from what I could tell, you won't be able to create or modify any files.

But you don't have to use `os.DirFS`, you can create a copy of it that does `OpenFile` with `O_RDWR` [here](https://cs.op

[2022-08-11 10:48] mmathys commented on #390
To fix this, I just replaced instances of
[code]
by
[code]
and I get a writable FS.

[2022-08-15 06:00] skelouse opened #745 "Move wasm, wasi_snapshot_preview1, ieee754 and similar folders out of internal into utils or helpers"
**Is your feature request related to a problem? Please describe.**
Currently we are not able to decode a wasm module before loading it,  exporting these was the only way to load it.

**Describe the solution you'd like**
Move wasm, wasi_snapshot_preview1, ieee754 and similar folders out of internal into utils or helpers

**Describe alternatives you've considered**
Forking the wazero repository, and

[2022-08-15 08:49] codefromthecrypt commented on #745
Hi, we have a internal package hierarchy defined intentionally, as described in RATIONALE.md

We don't currently plan to expose the raw wasm model as we have internal hooks we routinely add to that. To decode separate from instantiation, we have the `Runtime.CompileModule` and the current compile-time (decode time) customizations are available in CompileConfig.

Maybe you can mention specifically

[2022-08-16 00:07] codefromthecrypt commented on #745
@skelouse fyi we will be spinning out a new repo, watzero for the text format, and that will need to have access to the binary types anyway. So, if the goal is manipulation not otherwise done in config, watch #59

Also, to elaborate compile includes decode, validation (terribly important) and in the case of the compiler backend, translating to machine level assembly, there are more things involved

[2022-08-16 00:20] skelouse commented on #745
@codefromthecrypt

Runtime.CompileModule  will fail when calling r.store.Engine.CompileModule  as our dependencies are not known at that time. This is why we need to parse the module import section first, load dependencies then load the module.

[2022-08-16 00:26] codefromthecrypt commented on #745
can you make a failing test for that please? CompileModule shouldn't rely on dependencies. in fact CompileModule exposes its imports exactly for this reason

[2022-08-16 00:29] codefromthecrypt commented on #745
ex imports and exports were exposed recently so people could poke at which dependencies are needed prior to instantiation here: https://github.com/tetratelabs/wazero/blob/9414b0bb74f34a7913b7ac46959bf37eb70c3128/config.go#L263-L290

[2022-08-18 10:37] #618 closed

[2022-08-22 07:54] codefromthecrypt commented on #745
@skelouse did any of the tips above work for you?

[2022-08-22 08:00] codefromthecrypt opened #757 "Use testing/fstest to test TinyGo"
**Is your feature request related to a problem? Please describe.**
Right now, it is difficult to tell subtle issues for lack of a filesystem tester. While we have internal/integration_test/fs, it is not using real wasm.

**Describe the solution you'd like**
I'd like to see a test like this that show's TinyGo works from a Go perspective.

Ex. This compiled with tinygo
[code]

And this testing it:
[

[2022-08-25 09:26] codefromthecrypt commented on #432
https://github.com/tetratelabs/wazero/pull/621 should solve this

[2022-08-26 05:43] #432 closed

[2022-08-26 08:29] mougeCM opened #769 "wazero support compile python?"
[code]
I Already have a `python3.wasm`，I want to run the env.py on the `python3.wasm`

Use `wasmer run testdata/bin/python3.wasm --mapdir /::./ --env 'PYTHONHOME=testdata/lib/python3.11' --env 'PYTHONPATH=testdata/lib/python3.11' -- testdata/env.py` command is ok

But use wazero will appear error
[code]

May be I have a problem of the usage，ask for help～

[2022-08-26 09:05] mougeCM commented on #769
I tested it and the `mapdir` is missing

[2022-08-26 09:05] mougeCM commented on #769
wamser-go的example:

[2022-08-26 09:07] mougeCM commented on #769
wasmer has the MapDirectory is similar to the wasmer-go?

[code]

[2022-08-26 11:41] codefromthecrypt commented on #769
The way to grant access to files is via `WithFS` and you can only give one `fs.FS`.

Do you mind making a GitHub repo with this project or something similar in it (using the same wasm), as it will be easier to identify what's going on. Particularly, you can use the [experimental logging filter](https://pkg.go.dev/github.com/tetratelabs/wazero/experimental/logging) to see where it crashes.

If you

[2022-08-27 11:21] mougeCM commented on #769
Is the current version ready for production?

My main requirement is: wasm and go communicate with each other through linear memory

[2022-08-28 00:53] codefromthecrypt commented on #769
@mougeCM wazero will have a beta release end of this month and 1.0 is scheduled for early next year. We don't test python yet so I wouldn't recommend thinking it is ready for production. This is also why I asked you if you can create a demo repo so I can help you figure out where the problem exists. For example, some language compilers are better for troubleshooting, for example, having helpful er

[2022-08-28 01:18] codefromthecrypt commented on #769
Also it seems python and wasm is very much a work in progress. There are two different ways that wasm might have been built, ex via emscripten or wasi. Without knowing the source and how the wasm binary was compiled, we can't guess what's going on. Can you mention how you downloaded or compiled `python3.wasm`? This is an example of what can be in the troubleshooting repo

https://pythondev.readthe

[2022-08-28 01:54] codefromthecrypt commented on #769
Taking a guess that this is using what seems to be the de'facto python build from https://github.com/singlestore-labs/python-wasi (25MB of python3.11.wasm), I would say it is likely that an error is due to less syscalls (WASI) supported in wazero vs what it imports.

Since it is a dynamic language it is hard to tell which you are hitting. It also remains curious what the error is. Anyway, once you

[2022-08-29 02:14] mougeCM commented on #769
1. Accessing python is my second job. My current first job is connecting to Go (Host: Go, SandBox: Go). Can the current beta support my production needs?

[2022-08-29 02:16] mougeCM commented on #769
Runing Python in WebAssembly: https://www.fermyon.com/blog/python-wagi
python3.wasm from: https://github.com/fermyon/wagi-python/tree/main/opt/wasi-python/bin

[2022-08-29 02:49] inkeliz commented on #769
What is "connecting"? If that is "wasm and go communicate with each other through linear memory": you can use `Memory()` (https://github.com/tetratelabs/wazero/blob/06ad22f33fc4/api/wasm.go#L140-L141) to read/write data direct into the memory, without any WASI requirement. Of course, the "memory" contains the wasm controlled information, so you can't write at random places. You need to create some

[2022-08-29 03:19] codefromthecrypt commented on #769
@mougeCM In summary, you can use wazero now, but anything you use in production should be tested by you. Until wazero turns 1.0 in Feb there's a chance of API changes, but we hope to not have too many breaks.

The beta that will be released in the next couple days is already in use, ex by [Trivy](https://www.aquasec.com/products/trivy/), anyone using [waPC](https://github.com/wapc/wapc-go) as well

[2022-08-29 09:12] hafeidejiangyou opened #777 "Will new wazeroir / optimized compilers be supported"
Now, wazeroir is a format similar to LightbeamIR, it is used for singlepass compiler. Does there a plan to have an IR for deeper optimization with higher execution performance？

[2022-08-29 23:19] mathetake commented on #777
Hi @hafeidejiangyou, that's a good q! When we first started designing our compiler (which used to be called JIT), I even had no idea whether it was possible to develop the dynamic compilation and execution engine purely in Go. So I didn't spare time to have the optimized infrastructure for the compilation but rather chose to develop the "baseline" compiler as fast as possible (given that CGO itsel

[2022-08-30 02:01] mathetake commented on #486
superseded by https://github.com/tetratelabs/wazero-fuzz -- revive this issue once we prioritize the pure-Go fuzzing infra in wazero. Closing for now!

[2022-08-30 02:01] #486 closed

[2022-08-30 02:02] codefromthecrypt commented on #745
I exposed the binary parsers in the new repo here, though it needs some polishing. Feel free to open an issue https://github.com/tetratelabs/watzero if you still need to manipulate wasm.

[2022-08-30 02:02] #745 closed

[2022-08-30 02:33] codefromthecrypt commented on #506
To adhere to go's tagging recommendations,  the first beta tag is `v1.0.0-beta.1` https://go.dev/doc/modules/version-numbers

[2022-08-30 09:02] hafeidejiangyou commented on #777
Thanks for your reply, I'll keep an eye on it. By the way, I am interested in contributing in the future.

[2022-08-31 12:47] ncruces opened #789 "Published version v1.0.0-beta1 takes precedence over v1.0.0-beta.2"
I don't know what caused this, since I see no tag `v1.0.0-beta1`, but according to semver `v1.0.0-beta1` (notice the missing dot) will always take precedence over anything after a dot (like `v1.0.0-beta.2`).

https://pkg.go.dev/github.com/tetratelabs/wazero?tab=versions

[2022-08-31 12:49] ncruces commented on #789
The solution is to withdraw `v1.0.0-beta1` (which I don't know how to do) or to not use the dot going forward.

[2022-08-31 23:42] codefromthecrypt commented on #789
yeah that tag was an accident and go.mod didn't like it.. I'll look into seeing if there's a way to sort that out

[2022-08-31 23:43] codefromthecrypt commented on #789
https://go.dev/ref/mod#go-mod-file-retract will try this

[2022-09-01 01:14] codefromthecrypt commented on #789
later fixed up to

[code]

[2022-09-01 01:19] ncruces commented on #789
Note that #790 is not sufficient.

You now need to tag this retraction as `v1.0.0-beta.3` (and get it into the module cache), or it never gets "published", and we never get to see the retraction.

Hence the section in https://go.dev/ref/mod#go-mod-file-retract about a retraction retracting itself.
This… is complicated.

[2022-09-01 01:22] codefromthecrypt commented on #789
or maybe I won't need to say the exact beta after that.. let's try first

[2022-09-01 01:27] codefromthecrypt commented on #789
I guess in any case we have to wait for propagation to take place. Meanwhile, I'll keep #792 to ensure folks don't paste a command to get the broken tag.

[2022-09-01 01:30] codefromthecrypt commented on #789
beta 3 shows up but the other tag still does too :) https://pkg.go.dev/github.com/tetratelabs/wazero?tab=versions

[2022-09-01 01:32] codefromthecrypt commented on #789
oh... I hope it isn't what I think it is, which is that the redacted version will stay until a release has a semver higher than it..

[2022-09-01 01:37] codefromthecrypt commented on #789
ok so problem is `beta` is dead. we can't really use the broken version pattern because if we do, it is invalid from go's mod version syntax.

We need to switch to a word lexicographically later than `beta`

[2022-09-01 01:47] codefromthecrypt commented on #789
suggesting on [gophers slack](https://gophers.slack.com/) `#wazero` channel to use "pre" as that allows us to use "rc" later, and also gets us into a position where people won't accidentally upgrade into a broken version

[2022-09-01 01:58] codefromthecrypt commented on #789
going with "pre" as it is literally the example given for a pre-release and also comes before rc which we'll almost surely want prior to real 1.0 https://go.dev/ref/mod#glos-pre-release-version

[2022-09-01 02:03] codefromthecrypt commented on #789
https://github.com/tetratelabs/wazero/pull/792

[2022-09-01 02:20] #789 closed

[2022-09-01 02:23] codefromthecrypt commented on #789
ok it isn't in the public versions cache, yet, but at least considered an upgrade :)

[code]

Thanks tons @ncruces!

[2022-09-15 22:36] codefromthecrypt commented on #544
still no progress I can tell for native rust support, though some are using macros as a workaround ex. https://github.com/slowli/externref

tinygo also isn't progressed yet https://github.com/tinygo-org/tinygo/issues/2702

[2022-09-19 06:59] gedw99 opened #807 "embed tinygo so that golang can be compiled on the fly to wasm."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

User Defined Function ( UDF ) as where the user can create functions, and so requires that the golang code be compiled to wasm on the fly without recompile.

**Describe the solution you'd like**
A clear and concise description of what you

[2022-09-20 00:07] codefromthecrypt commented on #745
@skelouse ok this should be more precisely what you were looking for https://github.com/tetratelabs/wabin

[2022-09-20 01:55] codefromthecrypt commented on #807
@gedw99 Thanks for raising this. It isn't entirely likely we'll be able to embed tinygo easily as it doesn't have a mechanism to [embed as a library](https://github.com/tinygo-org/tinygo/issues/2016). You'll notice on that issue there are some substantial system dependencies, and that it forks other OS processes as well.

That said, we've been repeatedly asked for something like this, as it is int

[2022-09-20 02:01] codefromthecrypt commented on #807
Adjusted the desc @gedw99 feel free to revise again if I got you wrong. I will add any other use cases and ideas as they collect here. Also, if I find any github repos doing any similar pattern I'll also revise. Thanks again!

[2022-09-20 04:27] skelouse commented on #745
Thanks, that's what I needed!  I'll get back to you when I find out more info.

[2022-09-20 08:26] gedw99 commented on #807
I am thinking of running the wasm store and compiler in sone docker thing.

which means I need a registry of sorts that knows where the wasm is stored etc .

i think spin has this.

capsule which uses Warri also has a registry now too.

[2022-09-20 09:20] codefromthecrypt commented on #807
As you rightly mention, there are quite a few tools out there that have solutions for wasm distribution. Let's assume that wasm distribution is mostly solved (ex via file systems, OCI repositories or plain HTTP usually)

An embedded Go compiler if embedded in the same process may never have to distribute wasm. If distributed, indeed it can likely use one of the practices in use, as that's a good w

[2022-09-21 07:02] codefromthecrypt commented on #471
The current approach for TinyGo will break next release per https://github.com/tinygo-org/tinygo/pull/3142 I'll keep this open and close it with a new approach once merged.

[2022-09-22 06:57] gedw99 commented on #807
I agree that docker is the way to get it done today. I wonder what the APi would look like.

I prefer send the code and get back the wasm file as bytes to make is simple.
Wonder what options need to be added that Wazero needs when telling tinygo what to do. For example a debug or release build.

[2022-09-22 12:17] codefromthecrypt opened #810 "Consider adding a stubbing API"
**Is your feature request related to a problem? Please describe.**
Right now, built-in host imports like emscripten are allowed to stub calls such that no host call is made. This is done via writing wasm instructions to return a constant (or no value on nullary).

Stubbing unused callbacks in wasm is more performant than calling a host function that does nothing, and also removes error conditions

[2022-09-22 16:24] anuraaga commented on #810
Personal experience is that I generally stub functions until a binary do finally loads, under the expectation that these aren't actually used in my actual use case. If they're actually used they'd generally need to actually be implemented, not just stubbed I guess.

What could be quite handy for me is not a stubbing API but an option to autostub missing imports, probably either as no-opish (ish be

[2022-09-26 00:17] codefromthecrypt commented on #810
Interesting idea on auto-panic ;) That's helpful I suppose for some wasm that imports a great deal of things but not sure what's used. Would have been helpful in the past in WASI I think.

There are callbacks that aren't used, for example memory view refresh, logging when disabled etc. Probably, we can have some benchmarks to show that things like this (maybe not memory view refresh as that's unco

[2022-10-03 05:20] codefromthecrypt opened #819 "Add Memory.WriteString to avoid copying"
**Is your feature request related to a problem? Please describe.**
Right now, `mem.Write(ctx, valuePtr, []byte(val))` may end up copying the string in some circumstances, which is inefficient on the calling host. Thanks to @anuraaga for noticing this.

**Describe the solution you'd like**
`mem.WriteString(ctx, valuePtr, val)` instead

**Describe alternatives you've considered**
unsafe shenanigans

[2022-10-03 08:26] #819 closed

[2022-10-08 20:27] lthibault commented on #807
Naive question:  is it possible to compile TinyGo itself into WASM and execute it in Wazero, providing host functions in lieu of syscalls?

[2022-10-09 00:00] codefromthecrypt commented on #807
@lthibault yes, typically people will use tinygo's [wasi target](http://wazero.io/languages/tinygo/) as it is less work. Here's an [example](https://github.com/tetratelabs/wazero/tree/main/imports/wasi_snapshot_preview1/example).

[2022-10-09 05:06] gedw99 commented on #807
Great points !!

I can see the following ways:

1. embedded; embed the tinygo compiler into some golang app using the standard golang embed annotation.
2. Non embedded: Curl from ( https://github.com/tinygo-org/tinygo/releases) at runtime, and then just call it.
3. decoupled: Docker of tinygo running somewhere.
4. Probably many others ....

All  of the above need an API ( local and networked ) usi

[2022-10-09 09:31] codefromthecrypt commented on #807
thanks for starting the gears turning.

So, on 1 or 4) one issue is how to handle non-standard libraries (ex go.mod etc). So, one approach could be to forbid and another might be to supply a git URL instead of a source file.

In general, I think an issue like this would have to keep to the minimum requirements, not maximum. I wouldn't expect this issue to get into things like S3 or other cloud sto

[2022-10-13 20:38] lthibault commented on #279
Would this allow me to make arbitrary Go types (like an interface) available to guest programs?  I've been trying to figure out how to do so for the better part of a week 😄

Relatedly, would any of you be able to provide a bit more context on how this might work, and what would be involved?  I'd really appreciate it, as I'm trying to familiarize myself with WASM internals as I venture into Wazero.

[2022-10-13 23:28] codefromthecrypt commented on #279
@lthibault so there are a couple ways.

* one way is to use a data binding approach such as https://github.com/knqyf263/go-plugin or https://karmem.org.
* another is to define host functions that access certain parts of the type in question.
  * implicit instance ex on the host it is in the go context
    * guest sig - (func $get_field (param $name) (param $name_len))
  * explicit instance ex the

[2022-10-17 08:47] hafeidejiangyou opened #823 "Remove wasm.CallGoFunc use reflect.Value"
**Is your feature request related to a problem? Please describe.**
When I try wazero, I found wasm.CallGoFunc takes a lot of CPU in my case with BenchMarks,  It is show a lot of time is spent on reflections, so I want to remove the reflective call of the host function.

**Describe the solution you'd like**
To remove reflections, the host function signature must be same. And we can use uint64 slice

[2022-10-17 11:52] codefromthecrypt commented on #823
Thanks for raising this issue @hafeidejiangyou. I'm also wondering if we can do something about this. Perhaps we can attempt to cast the input to `func([]uint64) ([]uint64, error)` and skip reflection if so? It might require a different code path.

Would you be willing to try to prove the performance gain by making modifications on your fork in a way that the current and the optimized/raw approach

[2022-10-17 12:16] codefromthecrypt commented on #823
you can also consider the same signature as `api.Function`: `Call(ctx context.Context, params ...uint64) ([]uint64, error)` except note that sometimes you may also need to have a parameter for `api.Module` as that's how you access memory.

[2022-10-18 06:14] ShivanshVij opened #824 "Enable/Disable Specific WASI Host Functions"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to run WASM modules that I don't necessarily trust - when I don't enable `WASI` this is straight forward, however there are a lot of modules (especially those compiled with `tinygo` with the target `-target=wasi`) that only need a subset of the `WASI` spec.

Currently, Wazero requires me to enable all of the `WASI`

[2022-10-18 06:38] ShivanshVij commented on #824
I've got a potential solution here: https://github.com/loopholelabs/wazero/commit/ed5fdbf3a02cbdbfdbb26a9d0cf6c115a0accf8c

[2022-10-18 07:00] codefromthecrypt commented on #824
Hi, @ShivanshVij

So I'm curious about the approach of removing the imports because it is hard to control compilation of guests. Actually there is no access to anything by default even if the the functions are imported. That's because ModuleConfig controls the resources WASI (or otherwise) can access. I expect us to continue that path vs have 40+ settings because the issue applies to anything that

[2022-10-18 07:01] ShivanshVij commented on #824
Wait so @codefromthecrypt what happens if I want to run a wasm module that wants to open a socket? Will wazero allow it to open the socket?

[2022-10-18 07:03] ShivanshVij commented on #824
That completely solves my problem - thank you!

[2022-10-18 07:03] #824 closed

[2022-10-18 07:03] codefromthecrypt commented on #824
no worries. thanks for your interest and giving wazero a try!

[2022-10-18 07:05] ShivanshVij commented on #824
We're actually building a new embedded function runtime (https://github.com/loopholelabs/scale-go) on top of wazero - I'd love to find some way to advertise wazero/give credit to the maintainers. Maybe even help out if there are issues that need tending to.

[2022-10-24 03:49] codefromthecrypt commented on #662
Hi, I just tried to use the new wit format (WebAssembly Component Model). I think people will stick with witx for a while because it is quite opinionated. There are a lot of things, but the one most blaring is you cannot define functions with lower_snake_case.

Ex. you have to define functions literally as lower-hyphen or it breaks.
[code]

This doesn't match existing practice, so until some of th

[2022-10-24 05:29] gedw99 commented on #662
Ah interesting !! Thanks for the heads up.

I am trying to run the same golang on the server and the browser.

Saw something about a new “unknown” triple target in tinygo which I think is trying to make the wasm have no std lib conceptually.
This seems to be so that the tinygo wasm and wasi compiler conforms to this new WASM Component Model ?

Am curious what you think of this for Browser side  to

[2022-10-24 05:36] codefromthecrypt commented on #662
I don't think these are related. At least I haven't seen anything directly related between the freestanding target and component model. Indirectly, if you have something freestanding you at least are decoupled from existing wasi which could make an incompatible new wasi possible to integrate. OTOH to integrate that is no longer freestanding ;)

[2022-10-28 06:36] gedw99 opened #831 "Interleaving wasm into wasm"
I am working on wasm and introspection with interactive programming patterns.

like the old “ debug and continue” feature you see in sone IDE’s

So does a tone know how easy it is to join wasm into other wasm ?
For context, imagine a golang function being edited , where I can pick up he change to that function , compile it to wasm and interleave it into the current wasm.

The values in and out of

[2022-10-28 12:56] codefromthecrypt commented on #831
we currently don't have a way to hot re-compile an existing wasm function. however a host function can do anything including dispatch to a function it can reload..

[2022-11-01 20:03] ckaznocha opened #835 "Optimize `wasm.executeConstExpression`"
**Is your feature request related to a problem? Please describe.**
I've been doing a bit of profiling. I noticed while instantiating my wasm module, my program is spending a fair bit of time in [`wasm.executeConstExpression`](https://github.com/tetratelabs/wazero/blob/d108ce4c43c6a2062a5ac723c5635163c3a18645/internal/wasm/store.go#L535). Most of the time is spent creating a `*bytes.Reader`. The `*

[2022-11-01 23:36] codefromthecrypt commented on #835
I agree that the best is to get rid of the reader entirely from this part. You got it right about internal.. that's why we use it!

There may be other functions that use leb etc which can also use a byte slice instead. If you see other opportunities for the same code pattern, please put it in the same PR.

Most of all, thanks for offering to help!

[2022-11-03 00:07] codefromthecrypt commented on #279
@lthibault PS the current best way to propagate extra stuff is via go context. we do it all the time now. I added an explainer here, but we probably need an example for it https://github.com/tetratelabs/wazero/pull/826#issuecomment-1286454196

[2022-11-03 02:32] lthibault commented on #279
@codefromthecrypt Is it possible to rely on `syscall/js` functions to pass arguments to host functions?  I'm trying to make a complex data type available to the guest, whose method arguments are quite richly typed.  If there were a way for the guest process to

1. instantiate a JS object
2. populate it with various fields (each being some JS, like `Array`, `Object`, `Bool`, etc.)
3. pass the objec

[2022-11-03 02:38] codefromthecrypt commented on #279
oh sorry my last reply was in general, not specific to GOOS=js. I'll update the PR description so I don't make that mistake again

[2022-11-03 02:46] codefromthecrypt commented on #279
@lthibault

pass the object to the host-exported function
... that would make my life a fair bit easier!

I re-titled this PR towards that, though the effort level is fairly high vs WebAssembly functions.

not really. I mean we barely support GOOS=js and it isn't 100pct compatible between implementations. https://wazero.io/languages/

There's an alternative which is to use the component-model (`%.

[2022-11-03 13:58] lthibault commented on #279
That's fair enough. I'm still getting a lay of the land, so I'm very open to recommendations (including "don't do that") 🙂
I think I'll dig more deeply into the context-based approach.  My main issue there is how to pass complex datatypes in and out of the host function, but maybe this extra difficulty is just the price to pay for WASM.

[2022-11-03 23:25] codefromthecrypt commented on #279
@lthibault yeah I think the mythical way is via `externref` mythical because nothing supports it. In lieu of that in wazero context is the dirty little secret which works fine to propagate any state (as long as the guest doesn't need to read it in wasm).

[2022-11-04 01:50] codefromthecrypt commented on #823
done and released!

[2022-11-04 01:50] #823 closed

[2022-11-04 11:26] mathetake commented on #835
#837

[2022-11-04 11:26] #835 closed

[2022-11-04 16:33] clarkmcc opened #839 "Provide a list of exports from an api.Module"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to list all exported functions in an `api.Module`.

**Describe the solution you'd like**
wasmer has an [`Exports`](https://docs.rs/wasmer/latest/wasmer/struct.Exports.html#method.iter) type that allows you to iterate over all exported functions.

[2022-11-04 17:25] clarkmcc opened #840 "Make host functions available only to a single guest module"
**Is your feature request related to a problem? Please describe.**
I'd like to have a single runtime run multiple different wasm modules that call out to multiple different host functions. Let's say that I have several wasm modules that call out to HTTP APIs via a host function. I want each module to use call-out to a different API endpoint, but I also don't want the modules to be able to pick whi

[2022-11-04 23:31] codefromthecrypt commented on #839
oh interested .. we only exposed it on CompiledModule. Good point!

We should add the same on module

[code]

[2022-11-04 23:37] codefromthecrypt commented on #840
To help me understand more, can you put in code why namespace wouldn't work for this? This would allow you to use a different host module instance for each guest, which can have any static policy inside.

https://github.com/tetratelabs/wazero/tree/main/examples/namespace

Another way is to initialize with a context value which your functions read. This could allow you not just the ability to indic

[2022-11-05 17:29] clarkmcc commented on #840
@codefromthecrypt I didn't see this namespace functionality. Let me dink around with this and see if it solves my problem. If it doesn't your context suggestion seems like a viable option as well. Having context plumbed through everywhere is really nice by the way. A great improvement.

[2022-11-07 05:53] codefromthecrypt commented on #757
fyi @jerbob92

[2022-11-08 22:32] clarkmcc opened #847 "Too large offset for ADR"
**Describe the bug**
I'm compiling a production wasm module that has many, very large regular expressions (around 9kb) and I'm getting the following error when compiling in debug mode only
[code]
In release mode, I'm not getting the same error
[code]

**To Reproduce**
Sadly, the wasm module is a closed-source project. If it is helpful, I can try to come up with a reproduction, but I wanted to chec

[2022-11-09 07:09] codefromthecrypt commented on #847
looks like indeed this is a temporary limitation in the arm64 variant

[code]

[2022-11-09 07:27] codefromthecrypt commented on #847
hi @clarkmcc can you run off latest main? Curious how big an ADR offset you have in your wasm, as that's the main thing we need to consider.

[2022-11-09 20:15] mathetake commented on #847
oh i didn't think there would be a real example to hit this branch... :D

[2022-11-09 20:15] mathetake commented on #847
glad I captured this as an error rather than horrible runtime crash though!

[2022-11-09 21:00] clarkmcc commented on #847
I'm having trouble replicating 🙄. I should have set aside that compiled version for further troubleshooting. If I can figure out how to replicate it, I'll post results.

[2022-11-09 21:03] mathetake commented on #847
my memory on this has gotten fuzzy so I'm not sure too, but I imagine a huge `br_table` branch might cause this, but yeah not sure

[2022-11-09 21:05] mathetake commented on #847
In anyway I don't think we need a reproducer, and we can simply change the encoding of `ADR` instruction https://github.com/tetratelabs/wazero/blob/main/internal/asm/arm64/impl.go#L1844-L1857 here and can add support for maximum 20-bit offset.

[2022-11-09 21:12] mathetake commented on #847
here's a quick patch, but haven't gotten around to test it https://github.com/tetratelabs/wazero/pull/851

[2022-11-09 22:08] mathetake commented on #847
@clarkmcc could you try the branch in the PR #851?

[2022-11-10 04:46] #847 closed

[2022-11-14 06:53] gedw99 commented on #662
wit parser and generator in golang

https://github.com/alecthomas/wit-go

example golang project that uses it to gen golang code to interface with a rust wasm system

https://github.com/alecthomas/lunatic-go

What ya think ??

@codefromthecrypt @grokify

[2022-11-25 08:12] codefromthecrypt opened #859 "fs: reuse file descriptors instead of running out"
**Is your feature request related to a problem? Please describe.**

Long lived processes can run out of file descriptors and enter error loops. This happens when uint32 is exhausted as there's no re-use strategy https://github.com/tetratelabs/wazero/blob/main/internal/sys/fs.go#L111-L136

**Describe the solution you'd like**

some way to re-use file descriptors that isn't inefficient for short liv

[2022-11-28 02:10] codefromthecrypt opened #862 "Allow host functions to know how they are called"
**Is your feature request related to a problem? Please describe.**
Currently, you can't know the way a function is being called, rather the enclosing module. For example, the `api.Module` parameter informs the caller which module is invoking the host function.

If someone wants to vary behavior based on how it is called, they need to know more. For example, was it called directly or was it called

[2022-11-29 01:44] codefromthecrypt commented on #544
clang seems in progress, so perhaps rust or another soon. or we can accept clang as a valid example since we now have other examples in clang

https://docs.google.com/document/d/1-FTryoM9aBdTzBwRbp39yA8deqCCttkLP5OIq5LF2qY/
https://github.com/pmatos/llvm-project/commit/8e3d6dd5ea3d7939ab29dac2097af59105e00706